@model IEnumerable<WebApplication15.Models.Customer>
@{ 
}
<table class="table table-bordered">
    <tr>
        <th>Name </th>
        <th>Email</th>
    </tr>
    @foreach (var cust in Model)
    {
        <tr>
            <td>@cust.Name</td>
            <td>@cust.Email</td>
        </tr>
    }
</table>
